* {
    margin: 0;
}

body {
    background-color: #D6E1FF;
}

input {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    outline: none;
}

button {
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    background: #ff6565;
    color: #fff;
    cursor: pointer;
}

button.incomplete-button {
    background-color: #858585;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

li p {
    margin: 0;
    flex: 0 1 820px;
}

.add-item-area {
    background: #e7e7e7;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.item-area-incomplete {
    background: #edffe5;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px 10px 0 0;
    min-height: 200px;
}

.item-area-incomplete .ttl {
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    margin: -10px;
    background: #04945d;
    padding: 10px;
}

.item-area-incomplete button {
    flex: 1 0 60px;
}

.item-area-complete {
    background: #fff3e3;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px 10px 0 0;
    min-height: 200px;
}

.item-area-complete .ttl {
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    margin: -10px;
    background: #c79b49;
    padding: 10px;
}

.item-area-complete button {
    flex: 1 0 60px;
}

.sidebar {
    background: #5D99C6;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    width: 250px;
    height: calc(100%);
}

.todo-list {
    margin-left: 280px;
    margin-right: 20px;
}

.word-card {
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
    height: 200px;
    width: 300px;
}

.icon-button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding: 0;
}

.word-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sidebar-item {
    width: 274px;
    height: 67px;

    background: #5D99C6;
    transition: background-color 0.3s;
    border-radius: 0px 30px 30px 0px;
}

.sidebar-item:hover {
    background: #d3b833;
}

.sidebar-item-checked {
    background: #d3b833;
}

/* quiz */

.quiz-button {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;


    width: 350px;
    height: 116px;

    background: #C0E9DF;
    border-radius: 14px;
}

.quiz-text {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 128px;
    /* identical to box height */

    text-align: center;
}

.quiz-number {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    font-size: 92px;
    line-height: 128px;
    /* identical to box height */

    text-align: center;
}

.quiz-ans-image {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}